<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Welcome!</h1>
  <% if (user) { %>
    <h2>Hello <%= user %> </h2>
    <a href="/signout">Sign out</a>
  <% } else { %>
      <a href="/signup">Signup</a>
      <a href="/signin">Signin</a>
  <% } %>
</body>

</html>
