<!DOCTYPE html>
<html ng-app="meanApp">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/css/master.css">
</head>

<body>
  <div class="nav navbar-inverse">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="flex-container pull-left">
                <a href="#!/"><button class="btn btn-danger" type="button">Home</button></a>
                <a href="#!/users"><button class="btn btn-danger" type="button">Users</button></a>
            </div>
            <div class="flex-container pull-right">
              <% if (!user) { %>
                <a href="/signup">
                  <button class="btn btn-primary" type="button">Signup</button>
                </a>
                <a href="/signin">
                  <button class="btn btn-primary" type="button">Signin</button>
                </a>
                <% } %>
                  <% if (user) { %>
                    <a href="/signout">
                      <button class="btn btn-info" type="button">Sign out</button>
                    </a>
                    <% } %>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <% if (user) { %>
      <h2>Hello <%= user %> </h2>
      <% } %>
  </div>

  <div class="container">
    <section ng-view></section>
  </div>


  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/application.js"></script>
  <script src="/services/userService.js"></script>
  <script src="/controllers/users.client.controller.js"></script>
  <script src="/config/routes.js"></script>
  <script src="/views/users.client.view.html"></script>
</body>

</html>
